<a href="https://colab.research.google.com/github/0Kyumy0/Machine_Learning_CodingDojo/blob/main/treeEnsembleExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
# bagging tree regressor
from sklearn.ensemble import BaggingRegressor
# bosque aleatorio
from sklearn.ensemble import RandomForestRegressor

In [2]:
filename = '/content/drive/MyDrive/DataScience/BasesDeDatos/Boston_Housing_from_Sklearn.csv'
df = pd.read_csv(filename)
df.head()

      CRIM    NOX     RM   AGE  PTRATIO  LSTAT  PRICE
0  0.00632  0.538  6.575  65.2     15.3   4.98   24.0
1  0.02731  0.469  6.421  78.9     17.8   9.14   21.6
2  0.02729  0.469  7.185  61.1     17.8   4.03   34.7
3  0.03237  0.458  6.998  45.8     18.7   2.94   33.4
4  0.06905  0.458  7.147  54.2     18.7   5.33   36.2

In [5]:
df.isna().sum().sum()

0

In [8]:
y = df['PRICE']
X = df.drop(columns='PRICE')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Bagged Trees

In [60]:
bagreg = BaggingRegressor(n_estimators=200, random_state=42)
bagreg.fit(X_train, y_train)
bagreg_train_score = bagreg.score(X_train, y_train)
bagreg_test_score = bagreg.score(X_test, y_test)
print((bagreg_train_score*100).round(4))
print((bagreg_test_score*100).round(4))

97.6328
83.4672

In [56]:
bagreg.get_params()

{'base_estimator': 'deprecated',
 'bootstrap': True,
 'bootstrap_features': False,
 'estimator': None,
 'max_features': 1.0,
 'max_samples': 1.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [13]:
[estimator.get_depth() for estimator in bagreg.estimators_]

[19, 17, 18, 18, 17, 17, 19, 17, 16, 17]

# Random Forest

In [62]:
rf = RandomForestRegressor(n_estimators=200, random_state=42)
rf.fit(X_train, y_train)
rf_train_score = rf.score(X_train, y_train)
rf_test_score = rf.score(X_test, y_test)
print((rf_train_score*100).round(4))
print((rf_test_score*100).round(4))

97.6127
83.3323

In [29]:
[estimator.get_depth() for estimator in rf.estimators_]

[19,
 17,
 18,
 18,
 17,
 17,
 19,
 17,
 16,
 17,
 19,
 18,
 18,
 16,
 17,
 18,
 19,
 17,
 20,
 17]